.fab {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #81AB9D;
  color: #ffffff;
  cursor: pointer;
  box-shadow: var(--box-shadow-lg);
  border: 0.125rem solid #E4EFDF;
}